.detail-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  background: #f6f6f7;;
}

.detail-img{
  width: 100%;
  height: 100vh; /* 🔥 dynamic height */

  max-height: 260px; /* prevents it from getting too big */
  min-height: 380px; /* prevents it from getting too small */

  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.detail-info{
  padding: 16px;
}

.detail-info h2{
  font-size: 18px;
  font-weight: 600;
  margin-top: -8px;
}

.stars{
  font-size: 13px;
  color: #f59e0b;
  margin-top: 6px;
}
.stars .product{
  font-size: 14px;
   margin-top: 2px;
   padding: 0px 5px;
}

.stars .product2{
  font-size: 14px;
   margin-top: 2px;
   padding: 0px 5px;
   color: #293df2ee;
}



.price-container{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.price-details{
  font-size: 18px;
  font-weight: bold;
}

.old-price-details{
  font-size: 14px;
  text-decoration: line-through;
  color: #9ca3af;
}

.description{
  margin-top: 12px;
  font-size: 15px;
  color: #4b5563;
  line-height: 1.4;
  text-align: justify;
  letter-spacing: -0.2px;
  /* hyphens: auto;
  -webkit-hyphens: auto; */
}

.detail-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 12px 16px;
  background: white;

  box-shadow: 0 -4px 20px rgba(0,0,0,0.05);
}

.buy-btn{
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 14px;

  background: linear-gradient(135deg, #ff4d6d, #7c3aed);
  color: white;

  font-size: 14px;
  font-weight: 600;
}

.detail-info{
  padding-bottom: 50px; /* 🔥 space for button */
}

.image-slider{
  position: relative;
  width: 100%;
  margin-top: -30px;
}

.arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.4);
  color: white;

  border-radius: 50%;
  font-size: 18px;

  cursor: pointer;
  z-index: 2;
}

.arrow.left{
  left: 10px;
}

.arrow.right{
  right: 10px;
}

.dots{
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 6px;
}

.dot, .dot-in{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #d1d5db;

  display: inline-block;
  flex-shrink: 0;
}

.dot.active{
  background: rgb(0, 0, 0);
}

.dot-in.active{
  background: rgb(20, 70, 233);
}

.modal-dots{
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  z-index:10000;
}

.success-toast {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);

  background: #2ecc71;
  color: white;
  padding: 14px 22px;
  border-radius: 12px;

  font-weight: 600;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);

  animation: fadeInUp 0.3s ease;
  z-index: 9999;
}

.image-modal-overlay{

  position:fixed;

  inset:0;

  background:rgba(0,0,0,0.95);

  display:flex;

  justify-content:center;
  align-items:center;

  z-index:9999;

  padding:10px;
}



.image-modal-content{

  position:relative;

  width:100%;
  height:100%;

  display:flex;

  justify-content:center;
  align-items:center;
}



.modal-image{

  width:100%;

  max-height:85vh;

  object-fit:contain;

  border-radius:10px;
}



/* CLOSE BUTTON */
.close-modal{

  position:absolute;

  top:15px;
  right:15px;

  width:40px;
  height:40px;

  border:none;

  border-radius:50%;

  background:white;

  font-size:20px;

  z-index:10;

  cursor:pointer;
}



/* ARROWS */
.modal-arrow{

  position:absolute;

  top:50%;

  transform:translateY(-50%);

  width:45px;
  height:45px;

  border:none;

  border-radius:50%;

  background:rgba(255,255,255,0.7);

  font-size:26px;

  cursor:pointer;

  z-index:10;
}

.modal-arrow.left{
  left:10px;
}

.modal-arrow.right{
  right:10px;
}



/* MOBILE */
@media(max-width:768px){

  .modal-arrow{

    width:40px;
    height:40px;

    font-size:22px;
  }



  .close-modal{

    width:35px;
    height:35px;

    font-size:18px;
  }



  .modal-image{
    max-height:75vh;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}





.product-header {
  position: sticky;
  top: 0;
  z-index: 9999;

  padding: 10px;
  height: 100px;

  background: transparent;

  transition:
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;


}

.product-header-active {
  background: white;
  box-shadow:
    0 2px 10px rgba(0, 0, 0, 0.08);
}

.header-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  transform: translateY(-10px);
}

.header-tabs.visible {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);

  background: rgba(255, 255, 255, 0.65);
}


.tab {
  position: relative;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}

.tab.active {
  color: black;
}

.tab.active::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -2px;

  width: 100%;
  height: 2px;

  background: black;

  animation: underline 0.3s ease-in-out;
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.features-section {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}

.features-section-20 {
  background: #fff;
  border-radius: 10px;
}

.feature-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

.feature-row-20 {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
  border-bottom: 1px solid #eee;
  margin-top: -10px;
  font-size: 15px;
   text-align: justify;
   letter-spacing: -0.2px;
       hyphens: auto;
  -webkit-hyphens: auto;
}

.color-details{
  display: flex;
  flex-direction: row;
  gap: 5px;
  
}

.color-dot-details {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-top: 2px;
}

.feature-values{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.feature-item{
  width: 100%;
  font-size: 15px;
  /* margin-top: -0px; */
}

.header-top {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.back-arrow {
  cursor: pointer;
  flex-shrink: 0;
}

.main_inputContainer_PortalDetails {
  margin: 0 16px 10px;
  padding: 10px 14px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 8px;

  background: rgb(255, 255, 255);
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);

  flex: 1;
   /* width: 100%; */
}

.main_inputContainer_PortalDetails input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}
.main_inputContainer_PortalDetails:focus-within{
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.2);
}









.image-slider{
  width:100%;
}

.detail-img{
  width:100%;
  display:block;
  object-fit:contain;
  cursor:pointer;
}

.image-modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.95);
  z-index:9999;

  display:flex;
  justify-content:center;
  align-items:center;
}

.image-modal-content{
  width:100%;
  height:100%;
}

.modal-image{
  width:100%;
  max-height:90vh;
  object-fit:contain;
}

.close-modal{
  position:fixed;
  top:20px;
  right:20px;

  width:42px;
  height:42px;

  border:none;
  border-radius:50%;

  background:rgba(255,255,255,.15);
  color:white;
  cursor:pointer;

  z-index:10000;
}



/* Extra Small Phones (iPhone SE)*/
@media screen and (max-width: 320px) {
  .product-header {
    padding: 10px;
    height: 80px;
  }

  .header-top {
    gap: 8px;
  }

  .main_inputContainer_PortalDetails {
    margin: 0 14px 8px;
    padding: 8px 12px;
    gap: 6px;
  }

  .main_inputContainer_PortalDetails input{
    font-size: 12.5px;
  }

  .details-icon{
    width: 12px;
    height: auto;
  }

  .header-tabs {
      gap: 15px;
  }

  .tab {
    padding: 3px 12px;
    font-size: 12.5px;
  }
  
  .image-slider{
    margin-top: -10px;
  }

  .arrow{
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .arrow.left{
    left: 10px;
  }

  .arrow.right{
    right: 10px;
  }

  
  .detail-img{
    max-height: 200px; /* prevents it from getting too big */
    min-height: 270px; /* prevents it from getting too small */
  }
  
  .close-modal{
    top:10px;
    right:10px;
    width:30px;
    height:30px;
    font-size:17px;
  }

  .modal-arrow{
    width:30px;
    height:30px;
    font-size:18px;
  }

  .modal-arrow.left{
    left:5px;
  }

  .modal-arrow.right{
    right:5px;
  }

  .modal-image{
    max-height:70vh;
  }

  .dots{
    gap: 5px;
  }

  .dot{
    width: 5px;
    height: 5px;
  }

  .success-toast {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 13px;
  }

  .detail-info h2{
    font-size: 13px;
  }

  .stars .product{
    font-size: 12.5px;
  }

  .stars .product2{
    font-size: 12.5px;
  }

  .price-details{
    font-size: 14px;
  }

  .old-price-details{
    font-size: 11.5px;
  }


  .description{
    margin-top: 10px;
    font-size: 12.5px;
  }

  .features-section {
    padding: 15px;
  }

  .features-section > h3{
    font-size: 14px;
  }

  .feature-row {
    padding: 8px 0;
    font-size: 12.5px;
  }

  .feature-row-20 {
    margin-top: -10px;
    font-size: 12.5px;
  }

  .color-details{
    gap: 3px;
  }

  .color-dot-details {
    width: 14px;
    height: 14px;
  }

  .buy-btn{
    padding: 13px;
    border-radius: 13px;
    font-size: 13px;
  }

  .feature-item{
    font-size: 12.5px;
  }


}

/* Small Phones (LG) */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .product-header {
      padding: 12px;
      height: 90px;
    }

    .header-top {
      gap: 10px;
    }

    .main_inputContainer_PortalDetails {
      margin: 0 14px 8px;
      padding: 10px 14px;
      gap: 8px;
    }

    .main_inputContainer_PortalDetails input{
      font-size: 13.5px;
    }

    .details-icon{
      width: 13.5px;
      height: auto;
    }

    .header-tabs {
        gap: 17px;
    }

    .tab {
      padding: 3px 12px;
      font-size: 13.5px;
    }
    
    .image-slider{
      margin-top: -10px;
    }

    .arrow{
      width: 30px;
      height: 30px;
      font-size: 17px;
    }

    .arrow.left{
      left: 8px;
    }

    .arrow.right{
      right: 8px;
    }

    
    .detail-img{
      max-height: 240px; /* prevents it from getting too big */
      min-height: 300px; /* prevents it from getting too small */
    }
    
    .close-modal{
      top:10px;
      right:10px;
      width:30px;
      height:30px;
      font-size:17px;
    }

    .modal-arrow{
      width:30px;
      height:30px;
      font-size:18px;
    }

    .modal-arrow.left{
      left:5px;
    }

    .modal-arrow.right{
      right:5px;
    }

    .modal-image{
      max-height:75vh;
    }

    .dots{
      gap: 6px;
    }

    .dot{
      width: 5.5px;
      height: 5.5px;
    }

    .success-toast {
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 13.5px;
    }

    .detail-info h2{
      font-size: 13.8px;
    }

    .stars .product{
      font-size: 13.5px;
    }

    .stars .product2{
      font-size: 13.5px;
    }

    .price-details{
      font-size: 15px;
    }

    .old-price-details{
      font-size: 12.5px;
    }


    .description{
      margin-top: 10px;
      font-size: 13.5px;
    }

    .features-section {
      padding: 15px;
    }

    .features-section > h3{
      font-size: 15px;
    }

    .feature-row {
      padding: 8px 0;
      font-size: 13.5px;
    }

    .feature-row-20 {
      margin-top: -10px;
      font-size: 13.5px;
    }

    .color-details{
      gap: 4px;
    }

    .color-dot-details {
      width: 14.5px;
      height: 14.5px;
    }

    .buy-btn{
      padding: 13px;
      border-radius: 13px;
      font-size: 13.5px;
    }

    .feature-item{
      font-size: 13.5px;
    }

  
}

/* Large Phones (iPhone 12)*/
@media screen and (min-width: 376px) and (max-width: 480px) {
     .product-header {
      padding: 13px;
      height: 95px;
    }

    .header-top {
      gap: 12px;
    }

    .main_inputContainer_PortalDetails {
      margin: 0 16px 10px;
      padding: 12px 16px;
      gap: 10px;
    }

    .main_inputContainer_PortalDetails input{
      font-size: 14.5px;
    }

    .details-icon{
      width: 14.5px;
    }

    .header-tabs {
        gap: 18px;
    }

    .tab {
      padding: 3px 12px;
      font-size: 14.5px;
    }
    
    .image-slider{
      margin-top: -10px;
    }

    .arrow{
      width: 30px;
      height: 30px;
      font-size: 18px;
    }

    .arrow.left{
      left: 8px;
    }

    .arrow.right{
      right: 8px;
    }

    
    .detail-img{
      max-height: 280px; /* prevents it from getting too big */
      min-height: 350px; /* prevents it from getting too small */
    }
    
    .close-modal{
      top:12px;
      right:13px;
      width:35px;
      height:35px;
      font-size:18px;
    }

    .modal-arrow{
      width:32px;
      height:32px;
      font-size:18px;
    }

    .modal-arrow.left{
      left:5px;
    }

    .modal-arrow.right{
      right:5px;
    }

    .modal-image{
      max-height:85vh;
    }

    .dots{
      gap: 6px;
    }

    .dot{
      width: 6px;
      height: 6px;
    }

    .success-toast {
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 14.5px;
    }

    .detail-info h2{
      font-size: 14.8px;
    }

    .stars .product{
      font-size: 14.5px;
    }

    .stars .product2{
      font-size: 14.5px;
    }

    .price-details{
      font-size: 16px;
    }

    .old-price-details{
      font-size: 14.5px;
    }


    .description{
      margin-top: 10px;
      font-size: 14.5px;
    }

    .features-section {
      padding: 15px;
    }

    .features-section > h3{
      font-size: 15px;
    }

    .feature-row {
      padding: 8px 0;
      font-size: 14.5px;
    }

    .feature-row-20 {
      margin-top: -10px;
      font-size: 14.5px;
    }

    .color-details{
      gap: 4px;
    }

    .color-dot-details {
      width: 15px;
      height: 15px;
    }

    .buy-btn{
      padding: 14px;
      border-radius: 13px;
      font-size: 14.5px;
    }

    .feature-item{
      font-size: 14.5px;
    }

}

/* Small Tablets / Large Phones Landscape (Samsung Galaxy Z Fold 6) */
@media screen and (min-width: 481px) and (max-width: 767px) {
    
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Small Laptops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

/* Desktops */
@media screen and (min-width: 1281px) and (max-width: 1440px) {

}

/* Large Desktops */
@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

/* 2K+ Monitors */
@media screen and (min-width: 1921px) {

}