
.create-product-page{
  padding:20px;
}

.create-product-form{
  display:flex;
  flex-direction:column;
  gap:12px;
  max-width:700px;
  margin-bottom: 40px;
}

.create-product-form input,
.create-product-form textarea{
  padding:12px;
  border:1px solid #ccc;
  border-radius:10px;
}



.create-product-form textarea{
  min-height:120px;
}

.create-product-form button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:black;
  color:white;
  cursor:pointer;
}

.featured-check{
  display:flex;
  align-items:center;
  gap:10px;
}

.message{
  font-weight:bold;
}


.preview-images-create{
  display:flex;
  gap:13px;
  flex-wrap:wrap;
  margin-top:15px;
}

.preview-images-create img{
  width:105px;
  height:105px;
  object-fit:cover;
  border-radius:10px;
  border:1px solid #ccc;
}





.custom-select-wrapper {
  position: relative;
  width: 100%;
}

.custom-select-wrapper select {
  width: 100%;

  padding: 12px;
  padding-right: 50px;

  border: 1px solid #ccc;
  border-radius: 10px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: white;
}

.custom-arrow {
  position: absolute;

  top: 55%;
  right: 20px;

  transform: translateY(-50%);

  pointer-events: none;

  font-size: 12px;
  color: #666;
}




/*  */

.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-selected {

  padding: 12px;

  border: 1px solid #ccc;
  border-radius: 10px;

  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  color:#666;

  font-size: 14px;

}

.dropdown-arrow {
  font-size: 12px;
}


.dropdown-options {
  position: absolute;

  top: calc(100% + 0.5px);
  left: 0;

  width: 100%;

  background: white;

  border: 1px solid #ccc;
  border-radius: 10px;

  z-index: 1000;

  box-shadow: 0 5px 15px rgba(0,0,0,.1);

  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-option {
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-option:hover {
  background: #f5f5f5;
}


.dropdown-options::-webkit-scrollbar {
  width: 8px;
}

.dropdown-options::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown-options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.dropdown-options::-webkit-scrollbar-thumb:hover {
  background: #999;
}