.profile-page {
  padding: 20px;
  background: #f5f5f5;
  min-height: 100vh;
}

.profile-title {
   background: #f5f5f5;
   height: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.profile-title > h2{
  font-size: 22px;
  margin-bottom: 15px;
   background: #f5f5f5;
}

.profile_state{
  position: sticky;
  top: 0;
  z-index: 10;
}

.profile-box {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.profile-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.profile-row:last-child {
  border-bottom: none;
}


.logout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #dc3545;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

}

.logout-btn:hover {
  opacity: 0.9;
}

.orders-title{
  background: #f5f5f5;
   height: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: end;
   margin-top: -2px;
   z-index: 9;
}

.orders-title > h3{
  font-size: 18px;
  margin-bottom: 10px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 12px;
   overflow-y: auto;
}

.no-orders {
  text-align: center;
  color: #777;
}

.order-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
}

.status {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}

.status.new {
  background: #e3f2fd;
  color: #1976d2;
}

.status.pago {
  background: #e3f2fd;
  color: #06bb21;
}

.order-body p {
  font-size: 13px;
  margin: 4px 0;
}

.order-products {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 8px;
}

/* .product-row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
} */



.empty-profile {
  text-align: center;
  padding: 40px;
}

.product-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.product-left img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
}

.register-box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.profile-row.column {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}




/* Extra Small Phones */
@media screen and (max-width: 320px) {

}

/* Small Phones */
@media screen and (min-width: 321px) and (max-width: 375px) {
    
    .profile-page {
      padding: 15px;
    }

    .profile-title {
      height: 40px;
    }

    .profile-title > h2{
      font-size: 18px;
      margin-bottom: 12px;
    }
    .profile-box {
      padding: 12px;
    }

    .profile-row {
      padding: 6px 0;
      font-size: 12.5px;
    }

    .logout-btn {
      margin-top: 12px;
      padding: 8px;
      font-size: 12.5px;
    }

    .orders-title{
      height: 37px;
      margin-top: -2px;
    }

    .orders-title > h3{
      font-size: 14px;
      margin-bottom: 7px;
    }

    .orders {
      gap: 10px;
    }

    .order-card {
      padding: 10px;
    }

    .order-header {
      margin-bottom: 6px;
    }

    .order-header > span:first-child {
      margin-top: 2.5px;
      font-size: 12.5px;
    }

    .status {
      font-size: 12.5px;
      padding: 3px 7px;
    }

    .order-body p {
      font-size: 12.5px;
      margin: 3px 0;
    }

    .order-products {
      margin-top: 8px;
      padding-top: 6px;
    }

    .product-row {
      gap: 8px;
    }

    .product-left img {
      width: 65px;
      height: 65px;
    }

    .product-info {
      font-size: 12.5px;
      gap:4px;
    }

    .product-info > div:first-child > span{
      display: block;
      text-align: justify;
      letter-spacing: -0.2px;
    }


}

/* Large Phones */
@media screen and (min-width: 376px) and (max-width: 480px) {

}

/* Small Tablets / Large Phones Landscape */
@media screen and (min-width: 481px) and (max-width: 767px) {

}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Small Laptops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

/* Desktops */
@media screen and (min-width: 1281px) and (max-width: 1440px) {

}

/* Large Desktops */
@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

/* 2K+ Monitors */
@media screen and (min-width: 1921px) {

}