/* =========================
   GLOBAL
========================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* =========================
   PAGE
========================= */
.cart-page {
  background: #f5f5f5;
  min-height: 100vh;
  padding: 20px;
}

/* =========================
   SUMMARY
========================= */
.cart-top-summary {
  background: white;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 10;

  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.summary-line {
  display: flex;
  gap: 10px;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

/* BUTTON */
.checkout-btn {
  padding: 12px 20px;
  background: #ff9900;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
}

/* =========================
   ITEMS CONTAINER
========================= */
.cart-left {
  background: white;
  padding: 20px;
  border-radius: 8px;
  /* min-height: 100vh; */
  overflow-y: auto;
}

/* =========================
   ROW
========================= */
.cart-row {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

/* LEFT SIDE (IMAGE + META) */
.cart-left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-left-block img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
  border: 0.5px solid;
}

.image-meta {
  margin-top: 8px;
  font-size: 13px;
  text-align: center;
}

.likes {
  margin-left: 8px;
  color: #e63946;
}

/* =========================
   RIGHT INFO
========================= */
.cart-info {
  flex: 1;
}

/* TEXT */
.cart-info h4 {
  margin-top: -1px;
  font-size: 16px;
  margin-bottom: 5px;
}

.brand {
  font-size: 12px;
  color: #777;
}

.type {
  font-size: 12px;
  color: #999;
}

.desc {
  font-size: 13px;
  color: #555;
  margin: 5px 0;
  text-align: justify;
  letter-spacing: -0.2px;
  
    hyphens: auto;
  -webkit-hyphens: auto;
}

.meta {
  font-size: 12px;
  color: #666;
  height: 8px;
}

/* COLORS */
.colors {
  display: flex;
  gap: 5px;
  margin: 5px 0;
  color: #666;
}

.color-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-top: 2px;
}

/* PRICE */
.product-price {
  font-weight: bold;
  margin-top: 5px;
  color: #666;
}

.old {
  text-decoration: line-through;
  color: #999;
  margin-left: 8px;
}

/* ACTIONS */
.actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.actions button {
  background: none;
  border: none;
  color: #007185;
  cursor: pointer;
}

/* QTY */
.qty {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.qty button {
  width: 28px;
  height: 28px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
}

.qty span {
  padding: 0 10px;
}

.qr-icon {
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-top: -80px;
}

/* QR IMAGE */
.qr-modal-content img {
  width: 250px;
  height: 250px;
}

.qr-icon:hover {
  background: #eaeaea;
}



/* =========================
   MODAL (FULL SCREEN)
========================= */
.qr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

/* CONTENT */
.qr-modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

/* QR IMAGE */
.qr-modal-content img {
  width: 250px;
  height: 250px;
}

/* BUTTON */
.qr-modal-content button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* =========================
   MOBILE (ONLY ONE BLOCK)
========================= */
@media (max-width: 768px) {

  .cart-page {
    padding: 10px;
  }

  .cart-top-summary {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .checkout-btn {
    width: 100%;
  }

  .cart-left {
    padding: 12px;
  }

  .cart-row {
    display: flex;
    gap: 15px;
    padding: 15px 0;
  }

  .cart-left-block {
    align-items: flex-start;
  }

  .cart-left-block img {
    /* width: 100%;
    height: auto; */
    width: 110px;
    height: 110px;
  }

  .image-meta {
    text-align: left;
  }

  .actions {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cart-warning {
  color: #e74c3c;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;

  animation: fadeIn 0.3s ease;
}





/* Extra Small Phones */
@media screen and (max-width: 320px) {

}

/* Small Phones */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .cart-page {
      padding: 12px;
    }

    .cart-top-summary {
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
      padding: 8px 15px;
      margin-bottom: 15px;
    }

    .cart-top-summary > h3 {
      font-size: 16px;
    }

    .summary-line {
      gap: 10px;
    }

    .summary-line > span{
      font-size: 13.5px;
    }

    .total {
      font-size: 13.5px;
    }

    .checkout-btn {
      padding: 10px 15px;
      margin-top: 4px;
    }

    .cart-left {
      padding: 12px;
    }

    .cart-left > h2 {
      font-size: 16px;
    }

    .cart-row {
      gap: 10px;
      padding: 8px 4px;
    }

    .cart-left-block {
      align-items: flex-start;
    }

    .cart-left-block img {
      width: 85px;
      height: 85px;
    }

    .brand {
      font-size: 12.5px;
    }

    .image-meta {
      text-align: left;
      margin-top: 3px;
      font-size: 12.5px;
    }

    .cart-info h4 {
      margin-top: -1px;
      font-size: 13.5px;
    }

    .desc {
      font-size: 12.5px;
      margin: 3px 0;
    }

    .meta {
      font-size: 12.5px;
      height: 5px;
    }

    .colors {
      gap: 2px;
      margin: 3px 0;
      font-size: 12.5px;
    }

    .color-dot {
      width: 13px;
      height: 13px;
      margin-top: 1px;
    }

    .product-price {
      margin-top: 3px;
      font-size: 12.5px;
    }
    .actions {
      flex-direction: column;
      align-items: flex-start;
      gap:10px;
    }

    .qr-icon {
      margin-left: 140px;
      margin-top: -70px;
    }

   .resize-qr {
      width: 50px;
      height: 50px;

    }

    .qty button {
      width: 25px;
      height: 25px;
    }

    .qty span {
      font-size: 12.5px;
      padding: 0 8px;
    }

}

/* Large Phones */
@media screen and (min-width: 376px) and (max-width: 480px) {

}

/* Small Tablets / Large Phones Landscape */
@media screen and (min-width: 481px) and (max-width: 767px) {

}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Small Laptops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

/* Desktops */
@media screen and (min-width: 1281px) and (max-width: 1440px) {

}

/* Large Desktops */
@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

/* 2K+ Monitors */
@media screen and (min-width: 1921px) {

}